@import '../../styles/colors';
@import '../../styles/media';

.content {
  top: 0;
  z-index: 10;
  position: sticky;
  transition: background 0.3s ease-in-out;
}

@mixin hamburguer() {
  content: '';
  width: 25px;
  height: 2px;
  position: absolute;
  background-color: $white;
}

.menu {
  height: 71px;
  display: flex;
  margin: 0 auto;
  max-width: 128rem;
  position: relative;
  align-items: center;
  padding: 1.5rem 3rem;
  justify-content: space-between;

  &__logo {
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
  }

  &__hamburguer {
    width: 25px;
    height: 2px;
    position: relative;
    border-radius: 1rem;
    background-color: $white;

    @include devices() {
      display: none;
    }

    &::after {
      bottom: 7px;
      @include hamburguer();
    }

    &::before {
      top: 7px;
      @include hamburguer();
    }
  }
}

.languages {
  display: flex;
  align-items: center;

  &__select {
    border: none;
    color: $white;
    cursor: pointer;
    padding: 1rem 1.4rem;
    background-color: transparent;
  }

  &__option {
    background-color: $primary;
  }

  & > svg {
    color: $white;
    position: absolute;
  }

  &--mobile {
    @include devices() {
      display: none;
    }
  }
}

.list {
  display: none;
  column-gap: 3rem;
  align-items: center;
  list-style-type: none;

  @include devices() {
    display: flex;
  }

  &__item {
    color: $white;
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: uppercase;

    &:hover {
      color: $shakespeare;
    }
  }

  &__separator {
    width: 1px;
    height: 25px;
    background-color: rgba(84, 84, 84, .48);
  }
}

.scroll {
  background: #031226;
  transition: background 0.3s ease-in-out;
}

.listMobile {
  left: 50%;
  top: 76px;
  width: 90%;
  position: absolute;
  padding: 0.8rem 2rem;
  list-style-type: none;
  background-color: #031226;
  transform: translate(-50%, 0);

  @include devices() {
    display: none;
  }

  &__item {
    color: $white;
    font-size: 1.4rem;
    padding: 0.5rem 0;
    text-transform: uppercase;

    &:not(:last-child) {
      border-bottom: 1px solid $shakespeare;
    }
  }
}
