@import '../../styles/colors';

.content {
  top: 0;
  z-index: 10;
  position: sticky;
  transition: background 0.3s ease-in-out;
}

.menu {
  display: flex;
  margin: 0 auto;
  padding: 1.5rem 0;
  max-width: 120rem;
  position: relative;
  justify-content: flex-end;

  &__logo {
    left: 0;
    top: 0.5rem;
    width: 6rem;
    height: 6rem;
    position: absolute;
  }
}

.list {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  list-style-type: none;

  &__item {
    color: $white;
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: uppercase;

    &:hover {
      color: $shakespeare;
    }
  }
}

.scroll {
  background: #031226;
  transition: background 0.3s ease-in-out;
}
