@import '../../styles/colors';
@import '../../styles/media';

.about {
  display: flex;
  column-gap: 4rem;
  padding-top: 4rem;
  align-items: center;
  flex-direction: column;

  @include devices() {
    flex-direction: row;
    align-items: normal;
  }
}

.perfil {
  position: relative;

  &__photo {
    top: -3rem;
    width: 25rem;
    height: 30rem;
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/perfil.jpg');
  }

  &__frame {
    width: 25rem;
    height: 30rem;
    margin-left: 3rem;
    border-radius: 5px;
    border: 8px solid $shakespeare;
  }
}

.aboutme {
  padding-top: 1.5rem;

  &__title {
    color: $white;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &__text {
    color: #555A6D;
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}

.details {
  display: grid;
  row-gap: 0.8rem;
  margin-top: 1rem;
  border-radius: 3px;
  padding: 1rem 0.8rem;
  grid-template-columns: 1fr;
  border: 1px solid $shakespeare;

  @include devices() {
    grid-template-columns: repeat(2, 1fr);
  }

  &__label {
    color: $white;
    font-size: 1.4rem;
  }

  &__span {
    font-weight: 600;
  }
}
