---
import '@fontsource-variable/manrope';
import 'styles/global.scss';

import { getLangFromUrl } from 'i18n/utils';

import Menu from 'components/Menu';
import Contact from 'layouts/Contact';
import Header from 'layouts/Header';
import AboutMe from 'layouts/AboutMe';
import Services from 'layouts/Services';
import Portfolio from 'layouts/Portfolio';
import Experience from 'layouts/Experience';

const lang = getLangFromUrl(Astro.url)
---

<html lang={lang}>
  <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/favicon.png" />
    <title>Fernando Rogelin</title>
	</head>
	<body>
		<main>
      <Menu client:only="react" />

      <div class="wrapper">
        <Header client:visible />
        <AboutMe client:visible />
        <Portfolio client:visible />
        <Services client:visible />
        <Experience client:visible />
      </div>

      <Contact client:visible />
		</main>
	</body>
</html>
