@import '../../styles/colors';
@import '../../styles/media';

.services {
  margin-top: 10rem;

  &__title {
    color: $white;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 5rem;
    text-transform: uppercase;
  }
}
